USE [master]
GO
/****** Object:  Database [Emelyanenko_HouseManagement]    Script Date: 16.01.2026 13:51:54 ******/
CREATE DATABASE [Emelyanenko_HouseManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Emelyanenko_HouseManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Emelyanenko_HouseManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Emelyanenko_HouseManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Emelyanenko_HouseManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Emelyanenko_HouseManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Emelyanenko_HouseManagement]
GO
/****** Object:  Table [dbo].[AllAddresses]    Script Date: 16.01.2026 13:51:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AllAddresses](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[StartOfManagement] [date] NOT NULL,
	[NumberOfStories] [int] NOT NULL,
	[NumberOfFlats] [int] NULL,
	[Year] [int] NOT NULL,
	[AreaM2] [float] NOT NULL,
 CONSTRAINT [PK_AllAddresses] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Positions]    Script Date: 16.01.2026 13:51:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Residents]    Script Date: 16.01.2026 13:51:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Residents](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[FIO] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Residents] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Applications]    Script Date: 16.01.2026 13:51:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[AddressID] [int] NOT NULL REFERENCES AllAddresses,
	[NumberOfFlats] [int] NOT NULL,
	[ResidentID] [int] NOT NULL,
	[PhoneNumber] [varchar](50) NULL,
	[ProblemDescription] [varchar](500) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[ApplicationStatusID] [int] NOT NULL,
	[DateOfCompletion] [datetime],
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentReport]    Script Date: 16.01.2026 13:51:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentReport](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[OwnerID] [int] NOT NULL,
	[AddressID] [int] NOT NULL,
	[FlatNumber] [int] NOT NULL,
	[Period] [nvarchar](50) NOT NULL,
	[Credited] [numeric](15, 2) NOT NULL,
	[Paid] [numeric](15, 2) NULL,
 CONSTRAINT [PK_PaymentReport] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 16.01.2026 13:51:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[FIO] [varchar](150) NOT NULL,
	[PhoneNumber] [varchar](50) NOT NULL,
	[PositionID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].DebtsList    Script Date: 16.01.2026 13:51:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DebtsList](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[AddressID] [int] NOT NULL,
	[FlatNumber] [int] NOT NULL,
	[OwnerID] [int] NOT NULL,
	[PhoneNumber] [varchar](50) NOT NULL,
	[Water] [numeric](15, 2) NOT NULL,
	[Electricity] [numeric](15, 2) NULL,
 CONSTRAINT [PK_DebtsList] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationStatuses]    Script Date: 16.01.2026 13:51:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationStatuses](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AllAddresses] ON 

INSERT [dbo].[AllAddresses] ([ID], [Name], [StartOfManagement], [NumberOfStories], [NumberOfFlats], [Year], [AreaM2]) VALUES (1, N'ул. 45 Параллель, 4/2, Ставрополь', CAST(N'2015-04-22' AS Date), 9, 52, 2001, 1978.699951171875)
INSERT [dbo].[AllAddresses] ([ID], [Name], [StartOfManagement], [NumberOfStories], [NumberOfFlats], [Year], [AreaM2]) VALUES (2, N'ул. Васильева, 1, Ставрополь', CAST(N'2015-04-22' AS Date), 9, 144, 1983, 7950.39990234375)
INSERT [dbo].[AllAddresses] ([ID], [Name], [StartOfManagement], [NumberOfStories], [NumberOfFlats], [Year], [AreaM2]) VALUES (3, N'ул. Доваторцев, 66/2, Ставрополь', CAST(N'2020-11-01' AS Date), 9, 102, 1984, 3176.39990234375)
SET IDENTITY_INSERT [dbo].[AllAddresses] OFF

GO
SET IDENTITY_INSERT [dbo].[Positions] ON 

INSERT [dbo].[Positions] ([ID], [Name]) VALUES (0, N'Директор')
INSERT [dbo].[Positions] ([ID], [Name]) VALUES (1, N'Диспетчер')
INSERT [dbo].[Positions] ([ID], [Name]) VALUES (2, N'Слесарь')
SET IDENTITY_INSERT [dbo].[Positions] OFF
GO
SET IDENTITY_INSERT [dbo].[Residents] ON 

INSERT [dbo].[Residents] ([ID], [FIO]) VALUES (0, N'Шевченко Ольга Викторовна')
INSERT [dbo].[Residents] ([ID], [FIO]) VALUES (1, N'Мазалова Ирина Львовна')
INSERT [dbo].[Residents] ([ID], [FIO]) VALUES (2, N'Семеняка Юрий Геннадьевич')
SET IDENTITY_INSERT [dbo].[Residents] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentReport] ON 

INSERT [dbo].[PaymentReport] ([ID], [OwnerID], [AddressID], [FlatNumber], [Period], [Credited], [Paid]) VALUES (0, 0, 18, 1, N'Март 2025', CAST(3725.84 AS Numeric(15, 2)), CAST(3725.84 AS Numeric(15, 2)))
INSERT [dbo].[PaymentReport] ([ID], [OwnerID], [AddressID], [FlatNumber], [Period], [Credited], [Paid]) VALUES (1, 1, 18, 2, N'Март 2025', CAST(2914.56 AS Numeric(15, 2)), NULL)
INSERT [dbo].[PaymentReport] ([ID], [OwnerID], [AddressID], [FlatNumber], [Period], [Credited], [Paid]) VALUES (2, 2, 18, 3, N'Март 2025', CAST(4210.48 AS Numeric(15, 2)), CAST(4210.48 AS Numeric(15, 2)))
SET IDENTITY_INSERT [dbo].[PaymentReport] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([ID], [FIO], [PhoneNumber], [PositionID]) VALUES (0, N'Иванов Иван Иванович', N'88005353535', 0)
INSERT [dbo].[Employees] ([ID], [FIO], [PhoneNumber], [PositionID]) VALUES (1, N'Сергеев Сергей Сергеевич', N'89354355575', 1)
INSERT [dbo].[Employees] ([ID], [FIO], [PhoneNumber], [PositionID]) VALUES (2, N'Дмитриев Дмитрий Дмитриевич', N'86554659575', 2)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[DebtsList] ON 

INSERT [dbo].DebtsList ([ID], [AddressID], [FlatNumber], [OwnerID], [PhoneNumber], [Water], [Electricity]) VALUES (0, 18, 2, 1, N'89185647218', CAST(2455.20 AS Numeric(15, 2)), CAST(7541.81 AS Numeric(15, 2)))
INSERT [dbo].DebtsList ([ID], [AddressID], [FlatNumber], [OwnerID], [PhoneNumber], [Water], [Electricity]) VALUES (1, 18, 4, 3, N'89287815445', CAST(14567.56 AS Numeric(15, 2)), CAST(48517.25 AS Numeric(15, 2)))
INSERT [dbo].DebtsList ([ID], [AddressID], [FlatNumber], [OwnerID], [PhoneNumber], [Water], [Electricity]) VALUES (2, 18, 8, 7, N'89643324574', CAST(178451.00 AS Numeric(15, 2)), CAST(257891.10 AS Numeric(15, 2)))
SET IDENTITY_INSERT [dbo].[DebtsList] OFF
GO
SET IDENTITY_INSERT [dbo].[ApplicationStatuses] ON 

INSERT [dbo].[ApplicationStatuses] ([ID], [Name]) VALUES (0, N'Запланирована')
INSERT [dbo].[ApplicationStatuses] ([ID], [Name]) VALUES (1, N'В работе')
INSERT [dbo].[ApplicationStatuses] ([ID], [Name]) VALUES (2, N'Завершена')
SET IDENTITY_INSERT [dbo].[ApplicationStatuses] OFF
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD FOREIGN KEY([ResidentID])
REFERENCES [dbo].[Residents] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD FOREIGN KEY([ApplicationStatusID])
REFERENCES [dbo].[ApplicationStatuses] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PaymentReport]  WITH CHECK ADD  CONSTRAINT [FK_PaymentReport_Residents] FOREIGN KEY([OwnerID])
REFERENCES [dbo].[Residents] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PaymentReport] CHECK CONSTRAINT [FK_PaymentReport_Residents]
GO
ALTER TABLE [dbo].[PaymentReport]  WITH CHECK ADD  CONSTRAINT [FK_PaymentReport_AllAddresses] FOREIGN KEY([AddressID])
REFERENCES [dbo].[AllAddresses] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PaymentReport] CHECK CONSTRAINT [FK_PaymentReport_AllAddresses]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([PositionID])
REFERENCES [dbo].[Positions] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].DebtsList  WITH CHECK ADD  CONSTRAINT [FK_DebtsList_Residents] FOREIGN KEY([OwnerID])
REFERENCES [dbo].[Residents] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].DebtsList CHECK CONSTRAINT [FK_DebtsList_Residents]
GO
ALTER TABLE [dbo].DebtsList  WITH CHECK ADD  CONSTRAINT [FK_DebtsList_AllAddresses] FOREIGN KEY([AddressID])
REFERENCES [dbo].[AllAddresses] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].DebtsList CHECK CONSTRAINT [FK_DebtsList_AllAddresses]
GO
USE [master]
GO
